@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Inconsolata:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background: #5C3354;
    overflow: hidden;
}

h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 100px;
    color: #fff;
    justify-content: flex-start;
    padding: 30px;
}

.blog {
    color: #B48E47;
}

.top-line {
  border-left: 10px solid #fff;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: 200px;
  padding-top: 100px;
  transform: rotate(90deg);
}

.left-line {
    border-left: 5px solid #fff;
    height: 100px;
    position: absolute;
    left: 4.6%;
    margin-top: 300px;
    padding-top: 150px;
}

.landing-page-img {
    width: 33.5%;
    z-index: -1;
    padding-top: 43px;
    filter: grayscale(100%) contrast(120%) brightness(70%);
}

.firstname {
    font-family: 'Arimo', sans-serif;
    font-size: 80px;
    color: #fff;
    position: absolute;
    padding-top: 300px;
    padding-left: 490px;
}

.lastname {
    font-family: 'Arimo', sans-serif;
    font-size: 70px;
    color: #fff;
    position: absolute;
    left: 50%;
    padding-top: 80px;
}

.logo {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 3%;
    right: 3%;
}

h3 , h3.span {
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
    color: #fff;
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    right: -5%;
}
